* {
    font-family: sans-serif;
    box-sizing: border-box;
}

canvas {
    display: block;
    margin: auto;
}

.description {
    margin: auto; 
    max-width: 1000px;
}

.description h1 {
    text-align: center;
}

.adjustments {
    display: flex;
    flex-wrap: wrap;
}

.adjustment-container {
    width: 50%;
    border: 1px solid black;
    padding: 16px;
    min-height: 100px;
}